<!DOCTYPE html>
<html>
<head>
    <title>Page not found</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js"></script>  
</head>
<body>
    <div class="container">
        <header>
            <h1>URL Shortener</h1>
            <p class="subtitle">Make your links short and easy to share.</p>
        </header>
        <div class="main-div">
            <div class="error-content">
                <h2>404</h2>
                <p class="error-message">Oops! The page you're looking for doesn't exist.</p>
            </div>
        </div>
    </div>
    <footer>
        &copy; 2025 URL Shortener.
    </footer>
</body>
</html>